apache-airflow==2.0.2
tensorflow==2.12
tensorflow_hub
dvc
requests
# apache-airflow-providers-google
google-cloud-storage
google-cloud
notebook
opencv-python-headless
dvc[gs]
mlflow
streamlit
fastapi 
uvicorn

# Streamlit installation ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
#apache-airflow 2.0.2 requires rich==9.2.0, but you have rich 13.7.1 which is incompatible.
#apache-airflow 2.0.2 requires tenacity~=6.2.0, but you have tenacity 8.4.0 which is incompatible.
#dvc 2.0.14 requires rich<10,>=9.0.0, but you have rich 13.7.1 which is incompatible.